.header {
    display: flex;
    justify-content: space-between;

    h1 {
        color: #ffffff;
        font-family: "serif", "sans-serif", "cursive", "fantasy", "monospace";
        letter-spacing: 2px;
        font-weight: 500;
    }

    .login-section {
        font-size: 16px;

        .user-logo {
            font-size: 20px;
            color: #bae7ff;
            padding: 0 15px;
        }

        .user-name {
            color: #bae7ff;
            padding: 0 15px 0 0;
        }

        .user-logoff {
            color: #eeeeee;

            &:hover {
                color: #bae7ff;
            }
        }
    }
}

.frame-content {
    height: calc(100vh - 64px);
    overflow: auto;
}


// extra
.ant-layout-sider {
    background: #ffffff;
}

.ant-layout-header,
.ant-layout-sider-trigger {
    background: #003a8c;
}