.bread-area {
    display: flex;

    .bread-item {
        cursor: pointer;

        &:hover {
            color: @primary-color;
        }
    }
}

// extra
.ant-switch {
    background-color: #95de64;
}

.ant-switch-checked {
    background-color: #ff4d4f;
}

.ant-form-item {
    padding: 8px 0;
}